<!DOCTYPE html>
 <html>
 <head>
   <title>My webapp</title>
   <link rel="stylesheet" type="text/css" href="/style.css">
 </head>
 <body>
   <nav>
     <ul>
       <li><a href="/">About Me</a></li>
       <li><a href="/address">Address</a></li>
     </ul>
   </nav>
   <%= yield %>
 </body>
 </html>                     